{% extends "base.jinja2" %}

{% block nav %}
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/tructionary">The Tructionary</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Search by Neighborhood <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/neighborhood/slu">SLU</a></li>
                <li><a href="/neighborhood/downtown">Downtown</a></li>
                <li><a href="/neighborhood/ballard">Ballard</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Search by Cuisine <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/cuisine/american">American</a></li>
                <li><a href="/cuisine/asian">Asian</a></li>
                <li><a href="/cuisine/bbq">BBQ</a></li>
                <li><a href="/cuisine/intl">International</a></li>
                <li><a href="/cuisine/medi">Mediterranean</a></li>
                <li><a href="/cuisine/mex">Mexican</a></li>
                <li><a href="/cuisine/sweets">Sweets</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.nav-collapse -->
{% endblock %}


{% block body %}
  <div class="container">
    <a href="/admin"><span class="glyphicon glyphicon-arrow-left"></span>  Back to dashboard</a>
    
    <div class="form_container">
    <div class="truck_form">
      <h2>Edit Truck: {{ truck.name }}</h2>
      <form action="{{ request.route_url('edit', id=truck.id) }}" method="POST">
        <div>
          <label for="name">Truck Name</label>
          <input type="text" name="name" id="name" value="{{truck.name}}" required/>
        </div>
        <div>
          <label for="cuisine">Cuisine</label>
          <input type="text" name="cuisine" id="cuisine" value="{{truck.cuisine}}"/>
        </div>
        <div>
          <label for="cuisine_sort">Sort cuisine</label>
          <input type="text" name="cuisine_sort" id="cuisine_sort" value="{{truck.cuisine_sort}}" required/>
        </div>
        <div>
          <label for="payment">Payment</label>
          <input type="text" name="payment" id="payment" value="{{truck.payment}}"/>
        </div>
        <div>
          <label for="twitter">Twitter address</label>
          <input type="url" name="twitter" id="twitter" value="{{truck.twitter}}"/>
        </div>
        <div>
          <label for="website">Web address</label>
          <input type="url" name="website" id="website" value="{{truck.website}}"/>
        </div>
        <div>
          <input type="submit" name="add" value="Update It!"/>
        </div>
      </form>
      </br>
    </div><!-- truck_form -->

    <div class="truck_form">
      <h3>Add Location</h3>
      <form action="{{ request.route_url('add_location', id=truck.id) }}" method="POST">
        <div>
          <label for="address">Address</label>
          <input type="text" name="address" id="address" required/>
        </div>
        <div>
          <label for="day">Day</label>
          <select name="day" id="day" required>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
          </select>
        </div>
        <div>
          <label for="neighborhood">Neighborhood</label>
          <select name="neighborhood" id="neighborhood" required>
            <option value="Ballard">Ballard</option>
            <option value="Downtown">Downtown</option>
            <option value="South Lake Union" selected>South Lake Union</option>
          </select>
        </div>
        <div>
          <label for="start_time">Start Time</label>
          <select name="start_time" id="start_time" required>
            <option value="9:00">9:00am</option>
            <option value="9:30">9:30am</option>
            <option value="10:00">10:00am</option>
            <option value="10:30">10:30am</option>
            <option value="11:00" selected>11:00am</option>
            <option value="11:30">11:30am</option>
            <option value="12:00">12:00pm</option>
            <option value="12:30">12:30pm</option>
            <option value="13:00">1:00pm</option>
            <option value="13:30">1:30pm</option>
            <option value="14:00">2:00pm</option>
            <option value="14:30">2:30pm</option>
            <option value="15:00">3:00pm</option>
            <option value="15:30">3:30pm</option>
            <option value="16:00">4:00pm</option>
            <option value="16:30">4:30pm</option>
            <option value="17:00">5:00pm</option>
            <option value="17:30">5:30pm</option>
            <option value="18:00">6:00pm</option>
            <option value="18:30">6:30pm</option>
            <option value="19:00">7:00pm</option>
          </select>
        </div>
        <div>
          <label for="end_time">End Time</label>
          <select name="end_time" id="end_time" required>
            <option value="9:30">9:30am</option>
            <option value="10:00">10:00am</option>
            <option value="10:30">10:30am</option>
            <option value="11:00">11:00am</option>
            <option value="11:30">11:30am</option>
            <option value="12:00">12:00pm</option>
            <option value="12:30">12:30pm</option>
            <option value="13:00">1:00pm</option>
            <option value="13:30">1:30pm</option>
            <option value="14:00" selected>2:00pm</option>
            <option value="14:30">2:30pm</option>
            <option value="15:00">3:00pm</option>
            <option value="15:30">3:30pm</option>
            <option value="16:00">4:00pm</option>
            <option value="16:30">4:30pm</option>
            <option value="17:00">5:00pm</option>
            <option value="17:30">5:30pm</option>
            <option value="18:00">6:00pm</option>
            <option value="18:30">6:30pm</option>
            <option value="19:00">7:00pm</option>
            <option value="19:30">7:30pm</option>
          </select>
        </div>
        <div>
          <input type="submit" name="add" value="Time It!"/>
        </div>
      </form>
    </div><!-- truck_form -->

    <div class="truck_form">
      <h4>Neighborhoods for {{ truck.name }}:</h4>
      <ul>
      {% for location in truck.locations %}
        <li>
        {{ location.day }} in {{ location.neighborhood }}</br>
        {{ location.start_time.strftime("%-I:%M %p") }}-{{ location.end_time.strftime("%-I:%M %p") }}</br>
        {{ location.address }}
        <form action="{{ request.route_url('del_location', id=location.id) }}" method="POST">
        <input type="submit" name="del_location" value="Delete"/></form>
        </li>
      {% else %}
        <p><em>No locations in database</em></p>
        <form action="{{ request.route_url('del_truck', id=truck.id) }}" method="POST">
        <input type="submit" name="del_truck" value=" !DELETE TRUCK! "/></form>
      {% endfor %}
      </ul>
    </div><!-- truck_form -->
  </div><!-- form_container -->

</div><!-- container -->
{% endblock %}
