{% extends "base.jinja2" %}

{% block nav %}
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/tructionary">The Tructionary</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Search by Neighborhood <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/neighborhood/slu">SLU</a></li>
                <li><a href="/neighborhood/downtown">Downtown</a></li>
                <li><a href="/neighborhood/ballard">Ballard</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Search by Cuisine <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/cuisine/american">American</a></li>
                <li><a href="/cuisine/asian">Asian</a></li>
                <li><a href="/cuisine/bbq">BBQ</a></li>
                <li><a href="/cuisine/intl">International</a></li>
                <li><a href="/cuisine/medi">Mediterranean</a></li>
                <li><a href="/cuisine/mex">Mexican</a></li>
                <li><a href="/cuisine/sweets">Sweets</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.nav-collapse -->
{% endblock %}


{% block body %}
  <div class="container">
    <a href="/admin"><span class="glyphicon glyphicon-arrow-left"></span>  Back to dashboard</a>
    <h2>Edit Truck: {{ truck.name }}</h2>
    <form action="{{ request.route_url('edit', id=truck.id) }}" method="POST">
      <div>
        <label for="name">Truck Name</label>
        <input type="text" name="name" id="name" value="{{truck.name}}"/>
      </div>
      <div>
        <label for="cuisine">Cuisine</label>
        <input type="text" name="cuisine" id="cuisine" value="{{truck.cuisine}}"/>
      </div>
      <div>
        <label for="payment">Payment</label>
        <input type="text" name="payment" id="payment" value="{{truck.payment}}"/>
      </div>
      <div>
        <label for="twitter">Twitter address</label>
        <input type="text" name="twitter" id="twitter" value="{{truck.twitter}}"/>
      </div>
      <div>
        <label for="website">Web address</label>
        <input type="text" name="website" id="website" value="{{truck.website}}"/>
      </div>
      <div>
        <input type="submit" name="add" value="Update It!"/>
      </div>
    </form>
    </br>
    <h4>Neighborhoods for {{ truck.name }}:</h4>
    <ul>
    {% for neighborhood in truck.location %}
      <li>{{ neighborhood }}</li>
    {% else %}
    <p><em>No locations in database</em></p>
    {% endfor %}
    </ul>

  <div>
{% endblock %}
