{% extends 'base.jinja2' %}

{% block nav %}
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/tructionary">The Tructionary</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Search by Neighborhood <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/neighborhood/slu">SLU</a></li>
                <li><a href="/neighborhood/downtown">Downtown</a></li>
                <li><a href="/neighborhood/ballard">Ballard</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Search by Cuisine <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/cuisine/american">American</a></li>
                <li><a href="/cuisine/asian">Asian</a></li>
                <li><a href="/cuisine/bbq">BBQ</a></li>
                <li><a href="/cuisine/intl">International</a></li>
                <li><a href="/cuisine/medi">Mediterranean</a></li>
                <li><a href="/cuisine/mex">Mexican</a></li>
                <li><a href="/cuisine/sweets">Sweets</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.nav-collapse -->
{% endblock %}


{% block body %}
    <div class="container theme-showcase" role="main">
      <div class="jumbotron">
        <p><big>Looking for a food truck?</big></p>
        <h1>Dine-o-Truck</h1>
        <p>At dine-o-truck, we just want to help hungry people put food in their bellies!</br>Now here's a picture of a dino:</p>
        <img class="dino-img" src="/static/img/dinotruck.png" alt="the dine-o-truck dino!">
        <p id="no_guarantee">While we love dinosaurs, we cannot guarantee an actual dinosaur will deliver food trucks to your location.</p>
      </div>
      <div class="index_post">
        <h1>Our Goals</h1>
        <h2>Waypoint 1</h2>
          <ul>
            <li><del>Main page</del></li>
            <li><del>Pages organized by neighborhood and cuisine</del></li>
            <li><del>Page with all trucks</del></li>
            <li><del>Individual pages for trucks</del></li>
            <li><del>Admin interface to add and edit trucks</del></li>
          </ul>
        <h2>Waypoint 2</h2>
          <ul>
            <li><del>Mapping individual truck locations</del></li>
            <li>Maps for neighborhoods by day of the week</li>
          </ul>
        <h2>Waypoint 3 <em>and beyond!</em></h2>
          <ul>
            <li>Customer user interaction</li>
              <ul>
                <li>Reviews</li>
                <li>Favorites</li>
                <li>Notifications/Updates</li>
              </ul>
            <li>Truck owner interaction</li>
              <ul>
                <li>Weekly specials</li>
                <li>Location updates</li>
                <li>Menus</li>
              </ul>
          </ul>

      </div>
      <div class="twitter_widget">
      <a class="twitter-timeline" href="https://twitter.com/Dine_o_Truck/lists/our-favorite-trucks" data-widget-id="570673222715445248">Tweets from our favorite trucks!</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    </div> <!-- /container -->
{% endblock %}
