{% extends 'base.jinja2' %}

{% block nav %}
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/tructionary">The Tructionary</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Search by Neighborhood <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/neighborhood/slu">SLU</a></li>
                <li><a href="/neighborhood/downtown">Downtown</a></li>
                <li><a href="/neighborhood/ballard">Ballard</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Search by Cuisine <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/cuisine/american">American</a></li>
                <li><a href="/cuisine/asian">Asian</a></li>
                <li><a href="/cuisine/bbq">BBQ</a></li>
                <li><a href="/cuisine/intl">International</a></li>
                <li><a href="/cuisine/medi">Mediterranean</a></li>
                <li><a href="/cuisine/mex">Mexican</a></li>
                <li><a href="/cuisine/sweets">Sweets</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.nav-collapse -->
{% endblock %}


{% block body %}
    <div class="container theme-showcase" role="main">
<!--       <div class="jumbotron">
        <h1>Tructionary <small style="color: darkgray"><i>noun</i></small></h1>
        <p style="margin-left: 10%">a massive directory of food trucks for your eating pleasure</p>
      </div> -->
    <a href="#" onclick="history.back();"><span class="glyphicon glyphicon-arrow-left"></span>  Back to trucks</a>
      <div class="truck_detail">
        <h1>{{ truck.name }}</h1>
        <ul class="truck_detail">
          <li>Cuisine: {{ truck.cuisine }}</li>
          {% for location in truck.locations %}
            <li>Parked: <b>{{ location.day }}</b> in <b>{{ location.neighborhood }}</b> from {{ location.start_time }} to {{ location.end_time }}</br>
            <em>{{ location.address }}</em></li>
          {% else %}
            <p><em>No locations in database</em></p>
          {% endfor %}
          <li>Accepted Payment: {{ truck.payment }}</li>
          <li>Website: <a href="{{ truck.website }}">{{ truck.website }}</a></li>
        </ul>
      </div>

    </div> <!-- /container -->
{% endblock %}
