<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Seattle's favorite Food Trucks, all in one place!">
    <meta name="author" content="James Warren, Jake Anderson, Alicija Bulota">

    <title>Dine-o-Truck | Seattle's Food Truck Tracker</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom Tweaks -->
    <link href="../static/css/theme.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
<!--           <a class="navbar-brand" href="/">Dine-o-Truck | Seattle's Food Truck Tracker</a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#">The Tructionary</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Search by Neighborhood <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">SLU</a></li>
                <li><a href="#">Downtown</a></li>
                <li><a href="#">Ballard</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Search by Cuisine <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Burgers/Dogs</a></li>
                <li><a href="#">Asian</a></li>
                <li><a href="#">Latin</a></li>
              </ul>
            </li>
          
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /container -->
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Hungry? Looking for a Food Truck?</h1>
        <p>At dine-o-truck, we just want to help hungry people put food in their bellies! Now here's a picture of a dino:</p>
        <img src="../static/img/dinotruck.png" alt="the dine-o-truck dino!">
      </div>


      <div class="page-header">
        <h1>Fancy Post here</h1>
        <p>This is some example fancy post. It has fancy things in it. It uses fancy words. Because we're fancy.
      </div>




    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
