body {
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: helvetica;
  font-size: 14px;
  font-variant: normal;
  background-color: #F9F9F9;
  color: #666666;
  margin-top: 10px;
}

a:hover {
  text-decoration: none !important;
}

.dino-img {
  border-radius: 2%;
  display: block;
  margin: 0 auto;
  max-width: 90%;
}

.jumbotron h1{
  font-family: helvetica;
  font-size:4.5em;
  margin-top: 5px; 
  margin-bottom: 0px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  color: #FF7148;
  text-shadow: 3px 3px 8px #9ea1b3;
}

.jumbotron h1 i {
  font-size: .4em;
  color: gray;
  font-weight: lighter;
  text-decoration: underline;
  font-style: italic;
}

.jumbotron p {
  font-family: helvetica;
  color: #FF7148;
  font-size: 1em;
  font-weight: normal;
  font-variant: normal;
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center!important;
  letter-spacing: 0.3em;
  text-shadow: 1px 1px 8px #9ea1b3;
}

.page-header {
  border-bottom: 0;
}

.page-header h1 {
  text-align: center;
}

.cuisine-list {
  text-align: center;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

footer {
  position: center ;
  bottom:0;
  width:auto;
  text-align: center;
  font-family: "Lucida Grande", Tahoma;
  font-size: 7px;
  font-weight: lighter;
  font-variant: normal;
  text-transform: uppercase;
  color: #666;
  margin-top: 10px;
  text-align: center!important;
  letter-spacing: 0.3em;
}

.footer-hr {
  color: gray;
  border-style: solid none !important;
  border-width: 1px;
}

#no_guarantee {
  font-family: "Lucida Grande", Tahoma;
  font-size: .55em;
  font-weight: lighter;
  font-variant: normal;
  text-transform: uppercase;
  color: #666;
  margin-top: 10px;
  text-align: center!important;
  letter-spacing: 0.3em;
}

.index_post {
  float:left;
  width: 60%;
  color: #000;
  opacity: 0.6;
}

.tructionary {
  list-style: none;
  font-size: 150%;
}

.tructionary li {
  padding: 6px;
}

.truck_detail_header h1 {
  font-size:3em;
  margin-top: 5px; 
  margin-bottom: 0px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 3px 3px 8px #9ea1b3;
}

.truck_detail_header h3 {
  text-align: center;
}

.truck_detail {
  text-align: left;
  list-style: none;
  font-size: 1.5em;
  padding-left: 15%;
}

.truck_detail ul {
  padding: 0 !important;
}

.truck_detail li {
  margin-bottom: 6px;
}

.locations-list li {
  list-style: none;
}

.truck_form {
  display: block;
  float: left;
  margin-right: 3%;
  max-width: 30%;
}

.truck_detail em {
  text-decoration: bold italic;
  font-size: 1.2em;
}

.twitter_widget {
  float: right;
  width: 35%;
  padding-top: 5%;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 110px;
    text-align: right;
    margin-right: 3px;
    line-height: 1.2em;
}

select {
  line-height: 1.2em;
}

@media screen and (max-width : 800px) {
  .twitter_widget {
    width: 100%;
  }
  .index_post {
    width: 100% !important;

  }
  .jumbotron {
    font-size: .55em;
  }
}
